<!doctype html>
<html lang="en" ng-app="speakercastApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">

  <script src="assets/js/angular.min.js"></script>
  <script src="assets/js/controller.js"></script>
  <title>Speakercast</title>
</head>
<body ng-controller="SpeakerController" bs-breakpoint>
  <div>
    <section class="intro-section triangle" id="intro-section">
      <div class="container">
          <span class="logo">Speakercast</span>
          <p class="lead subtitle">A podcast for your favorite speakers</p>
      </div>
    </section>

    <section class="about-section">
      <div class="container">
        <div class="row">
          <p class="lead subtitle">Speakercast allows you to listen to all of the talks from your favorite General Conference speakers. Click on a name to create a personalized podcast with their talks.</p>
        </div>
      </div>
    </section>

    <section class="feed-section triangle" id="feed-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="panel-group" id="accordion" role="tablist">
              <div class="panel panel-orange">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">Current Apostles</h4>
                </div>
                <div class="" role="tabpanel">
                  <div class="panel-body ng-cloak">
                    <div class="row first-presidency">
                      <div class="col-md-4 col-sm-6 checkbox" ng-repeat="speaker in first_presidency | orderBy:'index'">
                        <a href class="speaker-link" ng-click="feed(speaker.name)">{{speaker.name}} <span class="badge">{{speaker.count}}</span></a>
                      </div>
                    </div>
                    <div class="row twelve-apostles">
                      <div class="col-md-4 col-sm-6" ng-repeat="speaker in twelve_apostles | orderBy:'index'" my-repeat-directive>
                        <a href class="speaker-link" ng-click="feed(speaker.name)">{{speaker.name}} <span class="badge">{{speaker.count}}</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-orange" id="last-panel">
                <div class="panel-heading" role="tab">
                  <h4 class="panel-title">All General Conference Speakers</h4>
                </div>
                <div role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body ng-cloak">
                    <div class="row speaker-controls">
                      <div class="col-sm-6 speaker-search">
                        <form>
                          <input type="text" id="speaker-search" class="form-control" ng-model="searchText" onkeydown="onkeypressed(event, this);" placeholder="Search Speaker Name">
                        </form>
                      </div>
                      <div class="col-sm-6 sortable-container">
                        <span>Sort by:</span><a href class="sortable" ng-click="sortBy(getLastName, false)">Alphabetically</a>|<a href class="sortable" ng-click="sortBy('count', true)">Number of talks</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-sm-6" ng-repeat="speaker in speakers | filter:searchText">
                        <a href ng-click="feed(speaker.name)" class="speaker-link">{{speaker.name}} <span class="badge">{{speaker.count}}</span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="footer-section" id="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Created by Philip Lundrigan</p>
            <p>View on <a href="https://github.com/philipbl/SpeakerCast">Github</a></p>
            <p>This site is not affiliated with The Church of Jesus Christ of Latter-day Saints</p>
          </div>
        </div>
      </div>
    </section>
    <div id="feed-modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog feed-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Subscribe</h4>
          </div>
          <div class="modal-body">
            <p>Subscribe using the following apps:</p>
            <p><img src="assets/images/castro.svg" alt="Castro" class="app-icon"><a href="{{castroLink}}">Castro</a></p>
            <p><img src="assets/images/downcast.svg" alt="Downcast" class="app-icon"><a href="{{downcastLink}}">Downcast</a></p>
            <p><img src="assets/images/itunes.jpg" alt="iTunes" class="app-icon"><a href="{{itunesLink}}">iTunes</a></p>
            <p><img src="assets/images/pocket_casts.svg" alt="Pocket Casts" class="app-icon"><a href="{{pocketcastsLink}}">Pocket Casts</a></p>
            <p><img src="assets/images/podcasts.png" alt="Podcasts" class="app-icon"><a href="{{podcastsLink}}">Podcasts</a></p>
            <p><img src="assets/images/overcast.svg" alt="Overcast" class="app-icon"><a href="{{overcastLink}}">Overcast</a></p>
            <p>Or use this link to subscribe:</p>
            <div class="input-group">
              <input type="text" class="form-control" id="copy-input" value="{{link}}">
              <span class="input-group-btn">
                <button class="btn btn-default copy-button" type="button" data-clipboard-target="#copy-input"><img class="clippy" src="assets/images/clippy.svg" width="13" alt="Copy to clipboard"></button>
              </span>
            </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>

  <script src="assets/js/jquery-2.1.4.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/clipboard.min.js"></script>
  <script type="text/javascript">
    new Clipboard('.copy-button');
  </script>
</body>
</html>
