/* colors: http://www.colourlovers.com/palette/3840327/Shh_its_a_secret */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.intro-section {
  padding: 80px 0;
  background: #008080;

  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  text-align: center;
}

.btn-intro {
  border-color: white;
  margin: 15px;
}

.btn-intro:hover {
  color: white;
  background: rgba(255, 255, 255, .2);
}

.logo {
  /*font-family: 'Pacifico', cursive;*/
  font-size: 100px;
  line-height: 200px;
}

.about-section {
  padding: 80px 0;

  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  text-align: center;
}

.btn {
  background: transparent;
}

.panel-primary {
    border-color: #E8A32E;
}

.panel-primary>.panel-heading {
    background-image: -webkit-linear-gradient(top,#E8A32E 0,#E8A32E 100%);
    background-image: -o-linear-gradient(top,#E8A32E 0,#E8A32E 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#E8A32E),to(#E8A32E));
    background-image: linear-gradient(to bottom,#E8A32E 0,#E8A32E 100%);
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #E8A32E;
    border-color: #E8A32E;
}

.box {
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

.selected-panel.affix {
  top: 10px;
  width: 283px;
}

.selected-speakers {
  margin: 0 0 10px 0;
}

.close-label {

}
