<!doctype html>
<html lang="en" ng-app="talkfeedApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <title>Talk Feed</title>
</head>
<body>
  <style type="text/css">
    [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none !important;
    }
  </style>

  <div class="container" ng-controller="TalkFeedController">
    <section class="row intro">
          here is an introduction.
    </section>

    <section class="row feed">
      <div class="col-md-offset-2 col-md-8">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Current First Presidency and 12 Apostles
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body ng-cloak">
                <div class="row">
                  <div class="col-sm-4" ng-repeat="speaker in first_presidency | orderBy:'index'">
                    <input type="checkbox" ng-model="speaker.selected">
                    <span class="selected-{{speaker.selected}}">{{speaker.name}} ({{speaker.talks}})</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4" ng-repeat="speaker in twelve_apostles | orderBy:'index'">
                    <input type="checkbox" ng-model="speaker.selected">
                    <span class="selected-{{speaker.selected}}">{{speaker.name}} ({{speaker.talks}})</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  All General Conference Speakers
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body ng-cloak">
                <div class="row">
                  <label>Search: <input ng-model="searchText"></label>
                </div>
                <div class="row">
                  <div class="col-sm-4" ng-repeat="speaker in speakers | filter:searchText">
                    <input type="checkbox" ng-model="speaker.selected">
                    <span class="selected-{{speaker.selected}}">{{speaker.name}} ({{speaker.talks}})</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div>
      Selected:
        <ul class="ng-cloak">
          <li ng-repeat="selected in selected()">
            {{ selected.name }}
          </li>
      </div>


      <button type="button" class="btn btn-default btn-lg" ng-click="generate()">
        Generate
      </button>
    </section>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
  <script type="text/javascript">
    var talkfeedApp = angular.module('talkfeedApp', []);
    var first_presidency_names = ["Thomas S. Monson", "Henry B. Eyring", "Dieter F. Uchtdorf"]
    var twelve_apostles_names = ["Russell M. Nelson", "Dallin H. Oaks", "M. Russell Ballard", "Richard G. Scott", "Robert D. Hales", "Jeffrey R. Holland", "David A. Bednar", "Quentin L. Cook", "D. Todd Christofferson", "Neil L. Andersen"]

    talkfeedApp.controller('TalkFeedController', function($scope, $http) {
        $http.get('speakers').then(function(response) {
          $scope.speakers = response.data;

          $scope.first_presidency = [];
          $scope.twelve_apostles = [];

          angular.forEach($scope.speakers, function(speaker) {
            var first_presidency_index = first_presidency_names.indexOf(speaker.name);
            var twelve_apostles_index = twelve_apostles_names.indexOf(speaker.name);

            if (first_presidency_index >= 0) {
              speaker.index = first_presidency_index;
              $scope.first_presidency.push(speaker);
            }
            else if (twelve_apostles_index>= 0) {
              speaker.index = twelve_apostles_index;
              $scope.twelve_apostles.push(speaker);
            }
          });
        });

        $scope.selected = function() {
          var names = [];
          angular.forEach($scope.speakers, function(speaker) {
            if(speaker.selected) {
              names.push(speaker);
            }
          });
          return names;
        };

        $scope.generate = function() {
          var selected = $scope.selected();

          // TODO: Make sure at least one person is selected

          var url = "http://127.0.0.1:5000/feed/";

          angular.forEach(selected, function(speaker) {
            url += encodeURIComponent(speaker.name + ",");
          });

          console.log(url);

          // $http.get('generate').then(function(data) {
          //   console.log("generated...");
          // },
          // function(data) {
          //   console.log('error...');
          // });
        }
      });
  </script>
</body>
</html>
